<%-include('header')%>
<%-include('navbar')%>
<body style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/images/1.jpg')">
  <p style="font-size:18px;color:antiquewhite;font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Square Pay is a service corporation headquartered in Demorgan block,chitkara university patiala. The Present name was adopted in july 2019 on the basis of our new project on the recharge facility provided to each and every student in chitkara university by decreasing the work load and improving the facilities.<br>
    This was an idea to be adopted earlier to ensure better sercvices in a cheaper and faster way. Square Pay reduces the time which was being wasted right there standing in the queues near square one. It reduces the crowd near square one, All the facilities will be provided in just a very simple and convinient way by only through online recharge of your sqaure one card right there by using your smart phones anywhere and anytime.
    If your Square one card needs repairs, you can go to Square one counter, visit an Authorized Service Provider, or mail us we will be surely there to help you. Whatever you choose, we’ll make sure your sqaure one card works the way it should.If you feel like you are facing any problem with your card you just contact us.</p>
</body>
    </html>