<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
     body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: lightskyblue
  }
    main {
     flex: 1 0 auto;
    }
    </style>
</head> 
<body>
    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Square Pay</h5>
              <p class="grey-text text-lighten-4">order your food and recharge your card without standing in long Queue</p>
               <p>replicate food provider</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">    </h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                <li><a class="grey-text text-lighten-3" href="#!"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2019 square pay
          <a class="grey-text text-lighten-4 right" href="#!">More info.</a>
          </div>
        </div>
      </footer>
</body>
</html>