<%-include('header')%>
<%-include('navbar')%>
<body style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/images/1.jpg');">
<div class="title">
        <!-- <h1>Welcome To The Square Pay</h1>
        </div> -->
        <span class="text1">welcome to the </span>
        <span class="text2">square pay</span>
        </div>
        <div class="button">
            <a href="signin"class="btn" title="Click To Sign In">Sign In<p class="material-icons">arrow_forward</p></a>
            <a href="signup" class="btn" title="Click To Sign Up">Sign Up<p class="material-icons">arrow_upward</p></a>
        </div>
    </body>
<%- include('end') %>

