<header class="header">
        <div class="main row">
              <div class="col-lg-3 col-md-3 col-sm-3">
                  <img src="/images/logomain.png" alt="not available" style="width:250  px;height:150px;float:left;border-radius: 10px;margin-top:1px;margin-left:3px">
              </div>
              <div  class="col-lg-4 col-md-4 col-sm-4">
                <div class="classh1">
                  <h1 style="font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 50px;"><%=str%></h1>
            </div>
              </div>
            <div  class="col-lg-5 col-md-5 col-sm-5">
                  <ul style="margin-top: 50px;margin-right: 35px;">
                    <li class="active"><a href="#">HOME</a></li>
                    <li><a href="about">ABOUT</a></li>
                    <li><a href="contact">CONTACT</a></li>
                    <li><a href="delete">LOG OUT</a></li>
                    <a href="admin"><i class="material-icons admin" style="font-size: 50px;color: white">account_box</i></a>
                </ul>            
                </div> 
                </div>
              </header>
      