<%-include('signinsignupheader')%>
<body class="body" onload='document.newform.password.focus()' style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/images/1.jpg');">
        <%-include('navbar')%> 
 <div class="container">
  <div class="row">
   <div class="col-md-8 col-md-offset-3"id="form">
       <form action="/postnewpassword" method="POST" name='newform'> 
        <center><b class="heading">new password</b></center>
        <div class="form-group">
                <label>Password:</label>
                <input type="password" id="password" name="password" class="form-control text" required>
            </div>
             <input type="hidden" name="userId" value="<%=userId%>">
                <div class="form-group">
                     <button type="submit" name="reset" value="update password" class="btn btn-primary" id="resetbutton">update password</button>
                     </div>                                                               
           </form>
    </div>
</div>  
</div>
</div>
<%- include('end') %>
